@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Gerais */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/background-image.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 8px;
    width: 450px;
}

#to_do h1{
    color: #533a5d;
    font-size: 28px;
    text-transform: uppercase;
}

.to-do-form {
    display: flex;
    width: 100%;
}

.to-do-form input{
    background-color: transparent;
    border: none;
    color: #533a5d;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom:2px solid #55ffff;
}

.to-do-form input:focus-visible{
    outline: none;
}

.to-do-form .form-button{
    position: relative;
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #55ffff;
    border-radius: 100%;
    font-size: 20px;
    color: #fff;
    /* transition: scale 0.5s ease; */
    transition: .5s;
}

/* .to-do-form .form-button:hover{
    cursor: pointer;
    scale: 1.05;
} */

.to-do-form .form-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #55ffff;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.to-do-form .form-button:hover::before {
    transform: scale(1.4);
    box-shadow: 0 0 20px #55ffff;
}

.to-do-form .form-button:hover {
    color: #55ffff;
    box-shadow: 0 0 10px #55ffff;
    background-color: #fff;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #533a5d;
    background-color: #55ffff78;
    padding: 8px 12px;
    border-radius: 4px;
}

.task .progress{
    margin-right: 10px;
}

.task .task-description {
    font-size: 16px;
    color: #533a5d;
    padding: 4px 0px;
    width: 100%;
}

.task .task-actions{
    display: flex;
    gap: 10px;
}

.action-button{
    font-size: 16px;
}

.action-button.edit-button{
    color: #986baa;
}

.action-button.delete-button{
    color: #986baa;
}

.hidden {
    display: none;
}


@media screen and (max-width: 600px) {

    body{
        background-image: url(../images/confetti-doodles.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #to_do{
        width: 300px;
    }
}